* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 99.8%;
  vertical-align: baseline;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: nunito, linotte, poppins;
}
body::-webkit-scrollbar {
  display: none;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a.active {
  color: #ffe42f;
}

.bgcolor2 {
  background: #ffe42f;
}
.color2 {
  background: #ffe42f;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
.mark {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
textarea,
select {
  padding: 10px 10px;
  border-radius: 10px;
   border: 1px solid rgb(185, 185, 185);
  vertical-align: middle;
}

.df {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col {
  flex-direction: column;
  justify-content: start;
}
.center {
  text-align: center;
  align-items: center;
}
.color3,
.grey {
  color: rgb(100, 100, 100);
}
.bgcolor3 {
  background: rgb(100, 100, 100);
}
.ma {
  margin: auto;
}
.pd {
  padding: 8px 10px;
}
.white {
  color: white;
}
.bgwhite {
  background: white;
}
.full-page {
  min-height: 100vh;
  width: 100%;
}
.front-page {
  color: white;
  background: #343353;
}
.bgcolor1 {
  background: tomato;
}
.color1 {
  color: tomato;
}
.bd5 {
  border-radius: 15px;
}
.profile {
  background: url(./src/img/profile.jpg) no-repeat center center/cover;
  min-height: 220px;
  min-width: 220px;
  margin: 0px 15px;
  margin-right: 30px;
  border-radius: 50%;
}
.df a i {
  font-size: 20px;
  margin: 16px 8px;
}
.mt5 {
  margin-top: 5px;
}
.vw-s {
  width: 80vw;
  margin: auto;
  align-items: center;
}
.about .profile {
  width: 160px;
  height: fit-content;
}
.shadow {
  box-shadow: 1px 1px 18px 6px #80808023;
}
.smallfont {
  font-size: 12px;
}
.justify {
  text-align: justify;
}
.slidebox {
  max-width: 300px;
  overflow: hidden;
  height: 4px;
  border-radius: 2px;
  margin-top: 5px;
  background: rgb(204, 204, 204);
}
.slider {
  width: 220px;
  height: 4px;
  border-radius: 2px;
}
.half {
  width: 50%;
}
section{
  /* background: #d6d2ce; */
}
section > h1 {
  margin: 20px 30px;
}
.mtl {
  margin-top: 20px;
}
.hr {
  width: 1px;
  background-color: rgba(128, 128, 128, 0.466);
  height: 50px;
}

.mark .fas,
.mark .fab {
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.651);
}

.sk {
  width: 110px;
  margin: auto;
  height: 110px;
}

.sk-img1 {
  background: url(./src/img/webdev.png) no-repeat center center/cover;
}
.sk-img2 {
  background: url(./src/img/backedn.jpg) no-repeat center center/cover;
}
.sk-img3 {
  border-radius: 52%;
  background: url(./src/img/UX-UI.png) no-repeat center center/cover;
}

#services div.df div.df.col ,.mr{
  margin: 10px 10px;
}

.year i{
  
  transform: translate(-33px);
  
}
.exp{
  padding: 10px 50px;
}.rel{
  position: relative;
}
.exp span.line {
  position: absolute;
  transform: translate(-26px, calc(-100% + 15px));
  height: calc(100% - 20px);
  display: flex;
  width: 2px;
  /* background: #000; */
  background: tomato;
}
ul.categ li{
  margin: 0px 10px;
  font-weight: bold;
  
}ul.categ li.active{
 
  color: tomato;
  
}
.proj{
  flex-wrap: wrap;
  justify-content: start;
}
.proj li{
  height: 200px;
  max-width: 400px;
  background: rgba(229, 135, 135, 0.288);
  margin: 10px;
  min-width: 300px;
  flex:1 1;
}
.mtx{
  margin-top: 60px;
}
#contact{
   background:linear-gradient(to top , rgba(255, 255, 255, 0.92) ,rgb(255, 255, 255)), url(./src/img/bg.jpg)repeat center center/cover ;
}
.justfull{
  width: 92%;
}
.thodajyada{
  width: 76%;
}
.thodajyadasekam{
  width: 70%;
}